/*
Theme Name: Mind's Eye Society
Theme URI: http://www.mindseyesociety.org/
Author: Ephraim Gregor
Author URI: http://www.ephraimgregor.com/
Description: This is a custom theme developed for the Mind's Eye Society site.
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: mindseyesociety
*/

// Static variables and styles.

// Sizing and padding.
size-body    = 1200px // Total max size of content.
size-gutter  = 20px // Standard gutter size.
size-sidebar = 300px // Sidebar width.
size-main    = size-body - ( size-gutter * 3 ) - size-sidebar // Max width of main content.
size-border  = 5px

// Fonts.
font-body = 'Merriweather', serif
font-head = 'PT Serif', serif
font-sans = 'Lucida Sans Unicode', 'Lucida Sans', sans-serif

// Colors.
color-body       = #433d3d
color-head       = #000
color-background = #e6d099
color-accent     = #5e0000
color-light      = #fff
color-dark       = color-head
color-hover      = #94474d

// Media queries.
media-base = unquote( 'only screen and ' )
media-large  = media-base + unquote( '(min-width: 1200px)' )
media-normal = media-base + unquote( '(min-width: 999px)' )
media-tablet = media-base + unquote( '(min-width: 750px)' )
media-mobile = media-base + unquote( '(min-width: 450px)' )

/**
 * Reset.
 */
global-reset()

/**
 * Layout.
 */
html
    box-sizing border-box

*, *:before, *:after
    box-sizing inherit

body
    font 15px/1.2 'Georgia', 'Times New Roman', Times, serif
    width 100%
    max-width size-body
    margin 0 auto
    background-color color-dark

h1, h2, h3, h4, h5, h6, strong
    font-weight bold

h1, h2, h3
    margin-bottom 1rem

h1
    font-size 150%

em
    font-style oblique

p
    margin 1rem 0

a
    color color-accent
    text-decoration none

    &:hover,
    &:active
        color color-hover

/**
 * Common styles
 */
@import '_styl/common'

/**
 * Header
 */
@import '_styl/header'

/**
 * Navigation
 */
@import '_styl/navigation'

/**
 * Content
 */
@import '_styl/content'
