.site-content
	display flex

.content-area,
.widget-area
	background color-background embedurl( '../../images/noise-50x50.png' )
	padding size-gutter
	box-shadow inset 0 0 size-gutter rgba(0, 0, 0, 0.1)

.content-area
	border-right size-gap solid color-dark
	flex-grow 1

	@media media-mobile
		border-right 0

.widget-area
	flex 0 0 size-sidebar + ( size-gutter * 2 )

	@media media-mobile
		display none

.main-navigation,
.site-footer
	@extend $common-bar
	margin size-gap 0

	a
		color color-light

.site-branding img
	display block
	width auto
	margin auto

.site-footer
	text-align center
	@extend $aside

	a
		@extend $common-bar-child
		text-decoration none
		display block
		padding size-gap
