$common-box-shadow
	box-shadow 0 2px 2px rgba( color-dark, 0.8 )

$common-simple-link
	color color-light

	&:hover
		text-decoration underline

$common-bar
	background-color color-accent
	overflow auto

$common-bar-child
	@extends $common-box-shadow
	margin size-border
	background-color color-body
	border 1px solid darken( color-body, 50% )
	border-top-color lighten( color-body, 50% )
