hr
	background-color color-accent
	border 0
	height 1px
	margin-bottom 1.5em

ul,
ol
	margin 0 0 1.5em 3em

ul
	list-style disc

ol
	list-style decimal

li
	& > ul,
	& > ol
		margin-bottom 0
		margin-left 1.5em

dt
	font-weight bold

dd
	margin 0 1.5em 1.5em

img
	/* Make sure images are scaled correctly. */
	height auto
	/* Adhere to container width. */
	max-width 100%

figure
	margin 0

table
	margin 0 0 1.5em
	width 100%

th
	font-weight bold

fieldset
	border 1px solid color-accent
	padding size-gutter
	margin size-gutter

a
	color color-accent

	&:visited
		color darken(color-accent, 10%)

	&:hover,
	&:focus,
	&:active
		color lighten(color-accent, 10%)

.alignleft
	float left
	margin-right 1.5em

.alignright
	float right
	margin-left 1.5em

.aligncenter
	clear both
	display block
	margin 0 auto

.wp-caption
	margin-bottom 1.5em
	max-width 100%

.wp-caption img[class*='wp-image-']
	display block
	margin 0 auto

.wp-caption-text
	text-align center

.wp-caption .wp-caption-text
	margin 0.8075em 0

.gallery
	margin-bottom 1.5em

.gallery-item
	display inline-block
	text-align center
	vertical-align top
	width 100%

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object
	max-width 100%
