.entry
	&__header
		margin-bottom size-gutter

	&__title
		margin-bottom size-border
		font-family 'IM Fell English', serif
		font-size 2rem

	&__title,
	&__content,
	&__excerpt
		word-wrap break-word

	&__link
		&,
		&:visited
			color color-dark

		&:hover,
		&:focus
			color lighten(color-accent, 10%)

	&__meta
		font-size 80%

	&__content,
	&__excerpt
		font-family font-body
		line-height 1.4

	&__excerpt > p
		margin 0

.page__title
	@extend .entry__title
	font-size 3rem

.alignleft
	float left
	margin-right 1.5em

.alignright
	float right
	margin-left 1.5em

.aligncenter
	clear both
	display block
	margin 0 auto

.wp-caption
	margin-bottom 1.5em
	max-width 100%

.wp-caption img[class*='wp-image-']
	display block
	margin 0 auto

.wp-caption-text
	text-align center

.wp-caption .wp-caption-text
	margin 0.8075em 0

.gallery
	margin-bottom 1.5em

.gallery-item
	display inline-block
	text-align center
	vertical-align top
	width 100%

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object
	max-width 100%
