// Adds moz prefixing for older FF.
box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments// Adds moz prefixing for older FF.
    box-shadow()
        -webkit-box-shadow arguments
        -moz-box-shadow arguments
        box-shadow arguments

    // Removes normal box as invalid type.
    display( type, args... )
        if flex == type || inline-flex == type
            if box in flex-version
                if flex == type
                    display: -ms-flexbox args
                    display: -webkit-box args
                    display: -moz-box args
                else
                    display: -ms-inline-flexbox args
                    display: vendor-value( inline-box args, only: moz webkit, ignore: official )
            if flex in flex-version
                display: vendor-value(arguments, only: webkit official) // overwrites old webkit
        else
            display: arguments
    box-shadow arguments

// Removes normal box as invalid type.
display( type, args... )
    if flex == type || inline-flex == type
        if box in flex-version
            if flex == type
                display: -ms-flexbox args
                display: -webkit-box args
                display: -moz-box args
            else
                display: -ms-inline-flexbox args
                display: vendor-value( inline-box args, only: moz webkit, ignore: official )
        if flex in flex-version
            display: vendor-value(arguments, only: webkit official) // overwrites old webkit
    else
        display: arguments
