// Header
.header
    @extend $common-container
    position relative

    // Branding image
    &__branding
        max-width 100%
        display block

    &__logo
        display block
        margin 0 auto

// Footer
.footer
    @extends $common-bar
    margin-top 1rem
    color color-light
    font .9em / 1.5rem font-sans

    &__child
        @extends $common-bar-child
        overflow hidden
        padding 1rem

    a
        @extends $common-simple-link

    p
        margin 0

    &__left
        float left

    &__right
        float right
