.nav
    @extends $common-bar
    font 13px 'Century Gothic', Futura, 'URW Gothic L', Verdana, sans-serif
    margin-bottom size-border

    &__toggle
        @media media-tablet
            display none

    &__menu,
    &__submenu
        list-style none

    &__menu
        @extends $common-bar-child
        padding .25rem
        clearfix()

    &__menu > &__item
        float left
        display block

    &__item--children > &__link:after
        @extend .icon
        @extend .icon--arrow-down:before
        vertical-align middle

        .nav__submenu &
            @extend .icon--arrow-right:before
            float right

    &__link
        display block
        padding .25rem 1rem
        cursor pointer

        &,
        &:visited,
        &:hover
            color color-light

    &__item:hover
        background-color color-hover

    &__submenu
        width 200px
        margin 0
        position absolute
        background-color color-accent
        box-shadow 0 3px 3px color-dark
        display none
        z-index 1

    &__item:hover > &__submenu
        display block

    &__submenu &__submenu
        position absolute
        left 200px
        top 0

        .nav__link:after
            display none
