// Main layout
.content
	position relative
	display flex
	-ms-box-pack justify
	justify-content space-between
	max-width size-body

	&__main,
	&__widgets
		background-color color-background
		padding size-gutter
		box-shadow inset 0 0 size-gutter rgba(0, 0, 0, 0.1)

	&__main
		flex-grow 1
		min-width 0

		@media media-tablet
			margin-right size-border

		&--loop
			.entry
				margin size-gutter 0
				border-bottom 1px solid color-body
				border-bottom 1px solid alpha( color-body, 20% )
				padding-bottom size-gutter

				&:first-child
					margin-top 0

	&__widgets
		display none
		width size-sidebar
		flex-shrink 0

		& nav__link
			color color-accent

		& nav__item:hover
			background-color transparent

		@media media-tablet
			display block


// Header.
.header
	position relative

	&__title
		margin-bottom 0

		@media media-tablet
			margin-bottom size-gutter

	&__link
		display block

	&__logo
		display block
		margin 0 auto

	&--sticky
		padding-bottom size-nav

		@media media-tablet
			padding-bottom 0

// Footer.
.footer
	@extends $common-bar
	margin-top size-border
	margin-bottom size-gutter
	color color-light
	font .9em / 1.5rem font-sans

	&__link
		@extend $common-bar-child
		overflow hidden
		padding size-border size-gutter
		display block
		color color-light
