// Sizing and padding.
size-body    = 1200px // Total max size of content.
size-gutter  = 20px // Standard gutter size.
size-sidebar = 300px // Sidebar width.
size-main    = size-body - ( size-gutter * 3 ) - size-sidebar // Max width of main content.
size-border  = 5px
size-nav     = 50px

// Fonts.
font-body = 'Merriweather', serif
font-head = 'PT Serif', serif
font-sans = 'Lucida Sans Unicode', 'Lucida Sans', sans-serif
font-nav  = 'Century Gothic', Futura, 'URW Gothic L', Verdana, sans-serif

// Colors.
color-body       = #433d3d
color-head       = #000
color-background = #e6d099
color-accent     = #5e0000
color-light      = #fff
color-dark       = color-head
color-hover      = #94474d

// Media queries.
media-base = unquote( 'only screen and ' )
media-large  = media-base + unquote( '(min-width: 1200px)' )
media-normal = media-base + unquote( '(min-width: 999px)' )
media-tablet = media-base + unquote( '(min-width: 750px)' )
media-mobile = media-base + unquote( '(min-width: 450px)' )

// Adds moz prefixing for older FF.
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments// Adds moz prefixing for older FF.
	box-shadow()
		-webkit-box-shadow arguments
		-moz-box-shadow arguments
		box-shadow arguments

	// Removes normal box as invalid type.
	display( type, args... )
		if flex == type || inline-flex == type
			if box in flex-version
				if flex == type
					display: -ms-flexbox args
					display: -webkit-box args
					display: -moz-box args
				else
					display: -ms-inline-flexbox args
					display: vendor-value( inline-box args, only: moz webkit, ignore: official )
			if flex in flex-version
				display: vendor-value(arguments, only: webkit official) // overwrites old webkit
		else
			display: arguments
	box-shadow arguments

// Removes normal box as invalid type.
display( type, args... )
	if flex == type || inline-flex == type
		if box in flex-version
			if flex == type
				display: -ms-flexbox args
				display: -webkit-box args
				display: -moz-box args
			else
				display: -ms-inline-flexbox args
				display: vendor-value( inline-box args, only: moz webkit, ignore: official )
		if flex in flex-version
			display: vendor-value(arguments, only: webkit official) // overwrites old webkit
	else
		display: arguments
