.widget
	margin 0 0 1.5em

	&__title
		color color-body
		font 700 .8rem font-sans

	.error-404 &
		margin-top 1.5rem

/* Make sure select elements fit in widgets */
.widget select
	width 100%

/* Search widget */
.widget_search
	.search-field
		width size-sidebar - 40px

	.search-submit
		display none

/* Recent Entries */
.widget_recent_entries
	ul
		margin 0
		list-style none
